#copyrightsFooter {
    color: white;
    font-family: 'Playfair Display', serif;
    

}
#copyrightsFooter a {
    color: wheat;
    font-family: 'Playfair Display', serif;
}
footer {
    bottom: 0;
}