footer {
    background:rgba(25, 54, 118, 0.8);
    margin-top: 2em;
    color: #DFD100;
    font-family: 'Merriweather';
    box-shadow: 0px 0px 17px 2px rgba(0,0,0,0.53);
}
.footerSection {
    margin: 1em;
}
.footerSection li a {
    text-decoration: none;
    color: #DFD100;
}
.footerSection li a:hover {
    opacity: 0.5;
}
#adressSection {
    width: 15em;
    padding: 1em;
    margin-right: 9em;
    text-align: center;
    box-shadow: 0px 0px 12px 2px rgba(0,0,0,0.58);
    background:rgb(25, 54, 118);
}
.footerSection h2 {
    margin-bottom: 1em;
    padding: 0.3em;
    text-align: center;
    box-shadow: 0px 0px 17px 2px rgba(0,0,0,0.53);
    font-size: 1.5em;
    background:rgb(25, 54, 118);
}

.footerSection ul {
    height: 13em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 17px 2px rgba(0,0,0,0.53);
    background:rgb(25, 54, 118);
}

