
#welcomingImg {
    position:relative;
    opacity: 1.0;
    transition: opacity .55s ease-in-out;
    width: 33.5em;
}
#welcomingImg:hover {
    
    opacity: 0.2;
    transition: opacity 1s ease-in-out;
}
#homeText {
    z-index: -1;
    position:absolute;
    color: wheat;
    font-family: 'Playfair Display', serif;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    padding-bottom: 2em;
    text-shadow: 2px 2px 0 #000000, 2px -2px 0 #000000, -2px 2px 0 #000000, -2px -2px 0 #000000, 2px 0px 0 #000000, 0px 2px 0 #000000, -2px 0px 0 #000000, 0px -2px 0 #000000, 2px -7px 2px rgba(139,38,209,0);

}
#welcomingImg:hover + #homeText {
    opacity: 1.0;
    transition: opacity .55s ease-in-out;
}
