
.txtNavTop {
    color: #d2cbcb;
    font-family: 'Playfair Display', serif;
    text-decoration: none;
}
.txtNavTop:hover {
    color: wheat;
    text-shadow: 2px 2px 0 #000000, 2px -2px 0 #000000, -2px 2px 0 #000000, -2px -2px 0 #000000, 2px 0px 0 #000000, 0px 2px 0 #000000, -2px 0px 0 #000000, 0px -2px 0 #000000, 2px -7px 2px rgba(139,38,209,0);
}
.NavMagicBox {
    background-color:#201f1f;
    height: 5em;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 2;
}
#magicBoxLogo {
    width: 25em;
    filter: drop-shadow(-1px 2px 4px #000);
}
.navBttn {
    width: 10em;
    height: 4em;
    text-decoration: none;
    text-shadow: 2px 2px 0 #000000, 2px -2px 0 #000000, -2px 2px 0 #000000, -2px -2px 0 #000000, 2px 0px 0 #000000, 0px 2px 0 #000000, -2px 0px 0 #000000, 0px -2px 0 #000000, 2px -7px 2px rgba(139,38,209,0);
    color: #d2cbcb;
    font-family: 'Playfair Display', serif;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.51);
    border-radius: 0.4em ;
    
}
.navBttn:hover {
    background-image: url('../images/bgButton.webp');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: wheat;
}
.itemMenu {
    width: 10em;
    height: 10em;
    border-radius: 50% 50% 50% 50% / 50% 50% 50% 50% ;
    background-image:url('../images/frameDropdown.webp');
    background-size: contain;
    background-repeat: no-repeat;
    padding-top: 2.1em;
}
.itemUser {
    font-family: 'Playfair Display', serif;
    color: #ffffff;
    text-align: right;
    text-shadow: 2px 2px 0 #000000, 2px -2px 0 #000000, -2px 2px 0 #000000, -2px -2px 0 #000000, 2px 0px 0 #000000, 0px 2px 0 #000000, -2px 0px 0 #000000, 0px -2px 0 #000000, 2px -7px 2px rgba(139,38,209,0);

}
.itemUser:hover {
    background: none;
    color: wheat;
    text-shadow: 2px 2px 0 #000000, 2px -2px 0 #000000, -2px 2px 0 #000000, -2px -2px 0 #000000, 2px 0px 0 #000000, 0px 2px 0 #000000, -2px 0px 0 #000000, 0px -2px 0 #000000, 2px -7px 2px rgba(139,38,209,0);

}
#srch {
    width:30em;
    border-radius:2em;
    margin-right:1em;
}