
#titleProducts {
    box-shadow: 0px 0px 14px 4px #000000;
    border-top: 1px solid rgba(245, 222, 179,0.2);
    border-bottom: 1px solid rgba(245, 222, 179,0.2);
}
#titleProducts h1 {
    color: wheat;
    font-family: 'Julius Sans One', sans-serif;

    font-size: 5em;
    font-weight: lighter;
    text-shadow: 2px 2px 0 #000000, 2px -2px 0 #000000, -2px 2px 0 #000000, -2px -2px 0 #000000, 2px 0px 0 #000000, 0px 2px 0 #000000, -2px 0px 0 #000000, 0px -2px 0 #000000, 2px -7px 2px rgba(139,38,209,0);
}
#titleProducts p {
    color: white;
    font-family: 'Julius Sans One', sans-serif;
    font-weight: bold;
    text-shadow: 2px 2px 0 #000000, 2px -2px 0 #000000, -2px 2px 0 #000000, -2px -2px 0 #000000, 2px 0px 0 #000000, 0px 2px 0 #000000, -2px 0px 0 #000000, 0px -2px 0 #000000, 2px -7px 2px rgba(139,38,209,0);

}
.filterBtn{
    align-items: center;
    appearance: none;
    background-color: wheat;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#000000 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395A;
    cursor: pointer;
    display: inline-flex;
    font-family: 'Playfair Display', serif;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
    font-weight: bold;
  }
  
 .filterBtn:focus {
    box-shadow: #000000 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #000000 0 -3px 0 inset;
  }
  
.filterBtn:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #000000 0 -3px 0 inset;
    transform: translateY(-2px);
    background: wheat;
    color: #36395A;
  }
  .filterMenu {
    background: wheat;
    font-family: 'Playfair Display', serif;
    color: #36395A;
  }
  .filterMenu li a:hover {
    background: rgba(0, 0, 0,0.7);
    color: wheat;
  }
.subCategorie {
    display: none;
}
.show {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
#filterSC a {
    text-decoration: none;
    font-family: 'Julius Sans One', sans-serif;
    color: #ffffff;
    border: solid 0.5px rgba(255,255,255,0.2);
    border-radius: 2em;
    padding: 1em;
    font-size: 0.8em;
    box-shadow: 0px 0px 14px 4px #000000;
    text-shadow: 2px 2px 0 #000000, 2px -2px 0 #000000, -2px 2px 0 #000000, -2px -2px 0 #000000, 2px 0px 0 #000000, 0px 2px 0 #000000, -2px 0px 0 #000000, 0px -2px 0 #000000, 2px -7px 2px rgba(139,38,209,0);
}
#filterSC a:hover {
    color: wheat;

}
#productPageLeft {
    
    box-shadow: 0px 0px 14px 4px #000000;
    border: 1px solid rgba(245, 222, 179,0.2);
    min-height: 100em;
    border-radius: 0.8em;
}
#productPageRight {
    width: 20em;
    height: 100em;
    overflow-y: scroll;
    box-shadow: 0px 0px 14px 4px #000000;
    border-radius: 0.8em;
    border: 1px solid rgba(245, 222, 179,0.2);
}
#productPageRight h2 {
    color: wheat;
    font-family: 'Julius Sans One', sans-serif;
    text-shadow: 2px 2px 0 #000000, 2px -2px 0 #000000, -2px 2px 0 #000000, -2px -2px 0 #000000, 2px 0px 0 #000000, 0px 2px 0 #000000, -2px 0px 0 #000000, 0px -2px 0 #000000, 2px -7px 2px rgba(139,38,209,0);
    
}
#productPageRight a {
    text-decoration: none;
}
.cardProducts {
    width: 17em;
    
}
.cardProducts:hover {
    transform: scale(1.05);
    transform: translateY(-1em);
}
.cardTitleProducts {
    color: wheat;
    font-family: 'Merriweather';
    font-size:0.9em;
    text-shadow: 2px 2px 0 #000000, 2px -2px 0 #000000, -2px 2px 0 #000000, -2px -2px 0 #000000, 2px 0px 0 #000000, 0px 2px 0 #000000, -2px 0px 0 #000000, 0px -2px 0 #000000, 2px -7px 2px rgba(139,38,209,0);

}

.cardPrice {
    color:#ffffff;
    font-size:1.5em;
        text-shadow: 2px 2px 0 #000000, 2px -2px 0 #000000, -2px 2px 0 #000000, -2px -2px 0 #000000, 2px 0px 0 #000000, 0px 2px 0 #000000, -2px 0px 0 #000000, 0px -2px 0 #000000, 2px -7px 2px rgba(139,38,209,0);
    font-family: 'Merriweather';
}
.newProduct {
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.51);
    font-family: 'Merriweather';
    border-radius: 0.5em;
}
.newProduct img {
    width: 10em;
    border: #ffffff 10px double;
}
.newProduct h3 {
    font-size: 1.2em;
    color: wheat;
    text-shadow: 2px 2px 0 #000000, 2px -2px 0 #000000, -2px 2px 0 #000000, -2px -2px 0 #000000, 2px 0px 0 #000000, 0px 2px 0 #000000, -2px 0px 0 #000000, 0px -2px 0 #000000, 2px -7px 2px rgba(139,38,209,0);

}
.newProduct p {
    font-size: 1.2em;
    color: #ffffff;
    text-shadow: 2px 2px 0 #000000, 2px -2px 0 #000000, -2px 2px 0 #000000, -2px -2px 0 #000000, 2px 0px 0 #000000, 0px 2px 0 #000000, -2px 0px 0 #000000, 0px -2px 0 #000000, 2px -7px 2px rgba(139,38,209,0);

}
#moreAbout {
    background: none;
    color: #ffffff;
    font-family: 'Playfair Display', serif;
    border-radius: 0.5em;
    box-shadow: 0px 0px 14px 4px #000000;

}
#moreAbout h2 {
    box-shadow: 0px 0px 14px 4px #000000;
    font-size: 1.5em;
    text-shadow: 2px 2px 0 #000000, 2px -2px 0 #000000, -2px 2px 0 #000000, -2px -2px 0 #000000, 2px 0px 0 #000000, 0px 2px 0 #000000, -2px 0px 0 #000000, 0px -2px 0 #000000, 2px -7px 2px rgba(139,38,209,0);

}
#moreAbout p {
    box-shadow: 0px 0px 14px 4px #000000;

    font-size: 1.2em;
    text-shadow: 2px 2px 0 #000000, 2px -2px 0 #000000, -2px 2px 0 #000000, -2px -2px 0 #000000, 2px 0px 0 #000000, 0px 2px 0 #000000, -2px 0px 0 #000000, 0px -2px 0 #000000, 2px -7px 2px rgba(139,38,209,0);

}
#moreAbout img {
    opacity: 0.9;
    filter: drop-shadow(0px 0px 6px #000);

}

.pagin {
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: 'Playfair Display', serif;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.pagin:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.pagin:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.pagin:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}
.paginationLi {
    list-style: none;
}
.pageItem {
color: #ffffff;
}
.card-body {
    box-shadow: 0px 0px 14px 4px #000000;
    border: 2px solid rgba(245, 222, 179,0.2);
    border-top: none;
    border-radius: 0em 0 0.5em 0.5em;
}
.card-body i {
    border: 1px solid white;
    
}
.buttonProducts{
    color: #ffffff;
    float:right;
}
.buttonProducts:hover {
    color: wheat;
    border-color: wheat;
}