
#titleSCProducts {
    background: rgb(26, 57, 136);
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.51);
}
#titleSCProducts h1 {
    color: #DFD100;
    font-family: 'Merriweather';
    text-transform: uppercase;
    font-size: 6em;
    text-align: center;
    text-shadow: 2px 2px 0 #000000, 2px -2px 0 #000000, -2px 2px 0 #000000, -2px -2px 0 #000000, 2px 0px 0 #000000, 0px 2px 0 #000000, -2px 0px 0 #000000, 0px -2px 0 #000000, 2px -7px 2px rgba(139,38,209,0);
}
#titleSCProducts img {
    filter: drop-shadow(0px 0px 6px #000);
}
#productSCPageLeft {
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.51);
    min-height: 100em;
    border-radius: 0.8em;
}
.cardProducts {
    width: 15rem;
    background-color:#193781;
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.67);
}
.cardTitleProducts {
    height: 2em;
    color: #DFD100;
    font-family: 'Merriweather';
    font-size:0.9em;
    text-shadow: 2px 2px 0 #000000, 2px -2px 0 #000000, -2px 2px 0 #000000, -2px -2px 0 #000000, 2px 0px 0 #000000, 0px 2px 0 #000000, -2px 0px 0 #000000, 0px -2px 0 #000000, 2px -7px 2px rgba(139,38,209,0);

}
.cardPrice {
    color:#ffffff;
    font-size:1.5em;
        text-shadow: 2px 2px 0 #000000, 2px -2px 0 #000000, -2px 2px 0 #000000, -2px -2px 0 #000000, 2px 0px 0 #000000, 0px 2px 0 #000000, -2px 0px 0 #000000, 0px -2px 0 #000000, 2px -7px 2px rgba(139,38,209,0);
    font-family: 'Merriweather';
}
.buttonBuy {
    background:#DFD100;
    font-family: 'Merriweather';
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.67);
    color: rgb(255, 0, 0);
    font-weight: bolder;
}
.buttonBuy:hover {
    background: #7b7301;
}
#moreAboutSC {
    background: #193781;
    color: #DFD100;
    font-family: 'Merriweather';
    border-radius: 0.5em;
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.67);
}
#moreAboutSC h2 {
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.67);
    font-size: 1.5em;
    text-shadow: 2px 2px 0 #000000, 2px -2px 0 #000000, -2px 2px 0 #000000, -2px -2px 0 #000000, 2px 0px 0 #000000, 0px 2px 0 #000000, -2px 0px 0 #000000, 0px -2px 0 #000000, 2px -7px 2px rgba(139,38,209,0);

}
#moreAboutSC p {
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.67);
    font-size: 1.2em;
    text-shadow: 2px 2px 0 #000000, 2px -2px 0 #000000, -2px 2px 0 #000000, -2px -2px 0 #000000, 2px 0px 0 #000000, 0px 2px 0 #000000, -2px 0px 0 #000000, 0px -2px 0 #000000, 2px -7px 2px rgba(139,38,209,0);

}
#moreAboutSC img {
    opacity: 0.9;
    filter: drop-shadow(0px 0px 6px #000);

}
.pagin {
    background: #193781;
    color: #DFD100;
    border: none;
    border-radius: 0.2em;
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.67);
    text-shadow: 2px 2px 0 #000000, 2px -2px 0 #000000, -2px 2px 0 #000000, -2px -2px 0 #000000, 2px 0px 0 #000000, 0px 2px 0 #000000, -2px 0px 0 #000000, 0px -2px 0 #000000, 2px -7px 2px rgba(139,38,209,0);

}
.pag:hover {
    background: #122755;
    color: #7b7301;

}
.paginationLi {
    list-style: none;
}
.pageItem {
color: #7b7301;
}
#ourAdvice {
    background: #193781;
    color: #DFD100;
    font-family: 'Merriweather';
    border-radius: 0.5em;
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.67);
}
#titleAdvice {
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.67);
    font-size: 1.5em;
    text-shadow: 2px 2px 0 #000000, 2px -2px 0 #000000, -2px 2px 0 #000000, -2px -2px 0 #000000, 2px 0px 0 #000000, 0px 2px 0 #000000, -2px 0px 0 #000000, 0px -2px 0 #000000, 2px -7px 2px rgba(139,38,209,0);
    height: 4em;
    width: 25em;
}
.advice {
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.67);
}
.advice h2 {
    text-align: center;
    margin-bottom: 2em;
    text-shadow: 2px 2px 0 #000000, 2px -2px 0 #000000, -2px 2px 0 #000000, -2px -2px 0 #000000, 2px 0px 0 #000000, 0px 2px 0 #000000, -2px 0px 0 #000000, 0px -2px 0 #000000, 2px -7px 2px rgba(139,38,209,0);

}
.advice h3 {
    margin-bottom: 1em;
}