@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&display=swap');
body {
    background-image: url("../images/bgimagebody.png");
    
}
.txtNavTop {
    color: #DFD100;
    font-family: 'Baloo 2', cursive;
}
.NavMagicBox {
    background-color:#193676;
    height: 5em;
    width: 100%;
}
.socialMediaNB {
    margin: 0.2em;
}
.formSearch {
    font-family: 'Merriweather';
}
.navBttn {
    background-color:#193676 ;
    width: 10em;
    height: 4em;
    text-decoration: none;
    color: #DFD100;
    font-family: 'Baloo 2', cursive;
}
